.nav-bar{
  pointer-events: visible;
  position: fixed;
  background: #fff;
  width: 100vw;
  box-shadow: 0 4px 4px rgba($color: #000000, $alpha: .1);
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .nav-list{
    display: inline-flex;
    margin: 0 !important;
    padding: 0;
    position: relative;
    z-index: -1;
    width: 50vw;
    height: 100%;  
    justify-content: space-between;
    .nav-link{
      display: flex;
      text-transform: capitalize;
      list-style-type: none;
      align-items: center;
      position: relative;
      outline: none;
      cursor: pointer;
    }
  }

  input[type="checkbox"]{
    display: none;
  }
}

.active{
  color: rgb(24, 24, 24);
  &:after{
    content: "";        
    position: absolute;
    width: 100%;
    height: 4px;
    background: rgb(24, 24, 24);
    bottom: 0;
    border-radius: 4px 4px 0 0;
  }
}

#sign-one{
  display: none;
}
@media (max-width: 444px){
  .nav-bar{
    flex-direction: row-reverse;
  }
  #sign-one{
    display: block;
    cursor: pointer;
  }
  nav.nav-bar {
    position: fixed;
    .nav-list{
      justify-content: space-around;
      pointer-events: visible;
      position: fixed;
      color: rgb(255, 255, 255);
      width: 100vw;
      height: 50vh;
      background:#0059b3;
      flex-direction: column;
      align-items: center;
      top: 60px;
      left: 0;
      bottom: 0;
      z-index: 3;
      transition: all 0.6s ease-in-out;
      clip-path: circle(0% at 0% 0%);
      .nav-link{
        cursor: pointer;
        outline: none;
      }
    }
  }
  li{
    cursor: pointer !important;
  }
  
  input[type="checkbox"]:checked + ul{
    clip-path: circle(150% at 50% 5%);
    pointer-events: visible;
  }
  .active{
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.15);
    padding: 10px 20px;
    border-radius: 3px;
  }
  .active::after{
    display: none;
  } 
}