@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

*{
  margin: 0;
  font-family: 'Poppins';
}


 div.background{
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url('./assets/background.jpg');
  background-repeat: none;
  background-size: cover;
 }